:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --primary-text: hsl(200, 15%, 8%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.min-w-200 {
    min-width: 200px;
}